{% extends 'base.html' %} {% block title %} Register - DKS {% endblock %} {%
block content %}
<h1>Register</h1>
<form method="post">
  <label for="email">Email</label>
  <input name="email" id="email" required />
  <br /><br />
  <label for="username">Username</label>
  <input name="username" id="username" required />
  <br /><br />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <br /><br />
  <input type="submit" value="Register" />
</form>
<br><br>
<p>
  Already have an account? Login <a href={{ url_for('auth.login') }}>here</a>.
</p>
{% endblock %}
