{% extends 'base.html' %} {% block title %} {{ username }}'s Task List - DKS {%
endblock %} {% block content %}
<h1>{{ username }}'s Task List - DKS</h1>

{% if unfinished_tasks|length == 0 %}
<p>
  You have no unfinished tasks to do stuff. Add a task
  <a href="{{ url_for('schedule.add_task') }}">here</a>.
</p>
{% else %} {% for task in unfinished_tasks %}
<div class="task">
  <p>
  Task Name: <form action = '{{ url_for('schedule.task_details') }}?tid={{ task['id'] }}' method="POST"><button type="submit">{{ task['title'] }}</button></form><br /><br />
    Task Description: {{ task['description'] }}
  </p>
  <hr>
</div>
{% endfor %}

<br>
<p>
Add more unfinished tasks onto the list <a href="{{ url_for('schedule.add_task')
  }}">here</a>.
</p>
<br>

{% if finished_tasks|length != 0 %}
You have finished {{ finished_tasks|length }} tasks:
<br>
{% for task in finished_tasks %}
<div class="task">
  <p>
  Task Name: <form action = '{{ url_for('schedule.task_details') }}?tid={{ task['id'] }}' method="POST"><button type="submit">{{ task['title'] }}</button></form><br /><br />
    Task Description: {{ task['description'] }}
  </p>
  <hr>
</div>
{% endfor %}
{% endif %}

{% endif %} {% endblock %}
